[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
wikidataintegrator = "*"
bs4 = "*"
pandas = "*"
tqdm = "*"
rdflib = "*"
sparqlwrapper = "*"

[requires]
python_version = "3.6"
